[submodule "1.5.0"]
	path = 1.5.0
	url = git://github.com/viewsource/viewsource.me.test.git
[submodule "1.5.1"]
	path = 1.5.1
	url = git://github.com/viewsource/viewsource.me.test.git
[submodule "1.5.2"]
	path = 1.5.2
	url = git://github.com/viewsource/viewsource.me.test.git
